<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
    <title>接单员路线规划</title>

    <!--Begin  Page Level  CSS -->
    <link href="/assets/plugins/morris-chart/morris.css" rel="stylesheet">
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!--End  Page Level  CSS -->
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <!--laydate 只需保证目录结构一致，引入js即可单独使用-->
    <script type="text/javascript" th:src="@{/layDate-v5.0.9/laydate/laydate.js}" charset="utf-8"></script>

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

</head>

<body class="sticky-header">


    <!--引入左侧菜单栏-->
    <div th:replace="lefter :: lefterBar(activeUrl='send')"></div>

    <!-- main content start-->
    <div class="main-content">
        <div th:replace="header :: headerBar"></div>


        <!--body wrapper start-->
        <div class="wrapper" id="app">
            <!--Start row-->
            <div class="row">

                <!-- Start 地图展示  inbox widget-->
                <div class="col-md-8">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <div id="usermap" style="height: 500px;"></div>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Start inbox widget-->

                <!-- Start inbox widget-->
                <div class="col-md-4">
                    <div class="white-box">
                        <h2 class="header-title"> 详细信息</h2>
                        <div class="dash-info" style="height: 480px;">
                            <form class="form-horizontal" method="POST" th:action="@{/order/send/add}">
                                <input th:if="${session.sessionUser!=null}" th:value="${session.sessionUser.id}" type="hidden"
                                    name="userId" id="currentUserId">
                                <input type="hidden" name="pointX" v-model="x" id="pointX">
                                <input type="hidden" name="pointY" v-model="y" id="pointY">

                                <input type="hidden" name="orderId" id="orderId">

                                <div class="form-group">
                                    <label class="col-md-4 control-label">详细地址</label>
                                    <div class="col-md-8">
                                        <input readonly class="form-control" value="" type="text" name="address" id="address1">
                                        <input readonly class="form-control" value="" type="text" name="address" id="address2">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">物品重量(kg)</label>
                                    <div class="col-md-8">
                                        <input readonly class="form-control" value="" type="text" name="clickOrderDetail" id="kg">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">收件人</label>
                                    <div class="col-md-8">
                                        <input readonly class="form-control" value="" type="text" name="receiverName" id="reciver">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">联系方式</label>
                                    <div class="col-md-8">
                                        <input readonly class="form-control" value="" type="text" name="receiverMobile" id="mobile">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">预计上门时间</label>
                                    <div class="col-md-8">
                                        <input readonly class="form-control" type="text" id="endTime" name="endTime" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-8 control-label" th:if="${msg != null}" style="color:red">[[${msg}]]</label>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-primary round" id="addButton" th:if="${session.sessionUser!=null}"
                                            onclick="return confirm('确定接单?')">接单</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <!-- Start inbox widget-->

            </div>
            <!--End row-->

        </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <div th:replace="footer :: footerBar"></div>
        <!--End footer -->

    </div>
    <!--End main content -->


</body>
<script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
<script src="https://cdn.staticfile.org/element-ui/2.13.1/index.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/library/GeoUtils/1.2/src/GeoUtils_min.js"></script>
<script src="https://api.map.baidu.com/api?type=webgl&v=1.0&ak=DvwyNimy8CXKEZG9Lxeo6G7zxBjxnsz8"></script>
<script>

    new Vue({
        el: '#app',
        data() {
            return {
                ip: "",
                intervalId: null,
                x: null,//经度
                y: null,//纬度
                province: '',
                city: '',
                district: '',

                currentUser: {},//当前用户信息
                currentAddress: '',
                notSendList: [],//未接单的数据
                clickOrderDetail: {},//当前点击的订单信息
            }

        },
        methods: {

            init() {

                // 1.获取客户端ip
                axios.get("https://api.ipify.org/?format=jsonp&callback=?&_=" + Math.random()).then(response => {
                    var ip = response.data.split("\":\"")[1].split("\"})")[0];
                    this.ip = ip;
                    //alert("本地ip:" + this.ip);

                    //2.根据ip获取客户端位置信息
                    axios.get('/api/address/detail?ip=' + this.ip).then(response => {
                        //console.log(response.data)

                        //设置经纬度
                        this.x = response.data.content.point.x;
                        this.y = response.data.content.point.y;

                        //设置地址、位置字符串
                        this.province = response.data.content.address_detail.province;
                        this.city = response.data.content.address_detail.city;
                        this.district = response.data.content.address_detail.district;


                        var map = new BMapGL.Map('usermap'); // 创建Map实例
                        map.centerAndZoom(new BMapGL.Point(this.x, this.y), 12); // 初始化地图,设置中心点坐标和地图级别
                        map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放

                        // 创建城市选择控件
                        var cityControl = new BMapGL.CityListControl({
                            // 控件的停靠位置（可选，默认左上角）
                            anchor: BMAP_ANCHOR_TOP_LEFT,
                            // 控件基于停靠位置的偏移量（可选）
                            offset: new BMapGL.Size(10, 5)
                        });
                        // 将控件添加到地图上
                        map.addControl(cityControl);

                        //标点前初始化：将根据ip的定位点发送标出来
                        var point = new BMapGL.Point(this.x, this.y);//创建点标注
                        var marker = new BMapGL.Marker(point);
                        map.addOverlay(marker);

                        // 开启辅助定位    
                        var geolocation = new BMapGL.Geolocation();
                        geolocation.enableSDKLocation();
                        geolocation.getCurrentPosition(function (r) {
                            if (this.getStatus() === BMAP_STATUS_SUCCESS) {

                                map.clearOverlays();
                                var mk = new BMapGL.Marker(r.point);

                                map.addOverlay(mk);
                                map.panTo(r.point);
                                //alert('您的位置：' + r.point.lng + ',' + r.point.lat);
                                this.x = r.point.lng;
                                this.y = r.point.lat;
                                //填充页面数据
                                $('#pointX').val(this.x);
                                $('#pointY').val(this.y);
                                //获取当前位置
                                axios.get("/api/address/detail/xy?x=" + this.x + '&y=' + this.y).then(response => {
                                    this.currentAddress = response.data;

                                    //设置当前窗口
                                    var opts = {
                                        width: 50,     // 信息窗口宽度
                                        height: 25,     // 信息窗口高度
                                        title: "当前位置", // 信息窗口标题
                                    }
                                    var infoWindow = new BMapGL.InfoWindow("地址：" + this.currentAddress, opts);  // 创建信息窗口对象 
                                    map.openInfoWindow(infoWindow, r.point); //开启信息窗口
                                    mk.addEventListener("click", function () {
                                        map.openInfoWindow(infoWindow, r.point); //开启信息窗口
                                    });

                                   
                             
                                });
                            } else {
                                //alert('failed' + this.getStatus());
                                alert('请开启设备定位');
                            }
                        });
                    });

                    // 获取用户信息
                    this.currentUser.id = $('#currentUserId').val();

                    if (this.currentUser.id != undefined) {
                        axios.get("/api/user/info/" + this.currentUser.id).then(response => {
                            this.currentUser = response.data;
                            //console.log(this.currentUser)
                        });
                    }


                });//end init
            },

            // 定时刷新数据函数
            dataRefreh() {
                // 计时器正在进行中，退出函数
                if (this.intervalId != null) {
                    return;
                }
                // 计时器为空，操作
                this.intervalId = setInterval(() => {
                    //console.log("刷新" + new Date());
                    //this.init(); //加载数据函数
                }, 100000);
            },
            // 停止定时器
            clear() {
                clearInterval(this.intervalId); //清除计时器
                this.intervalId = null; //设置为null
            },
        },
        mounted() {
            //this.getClientIP();
            this.init();
        },
        created() {
            this.dataRefreh();
        },
        destroyed() {
            // 在页面销毁后，清除计时器
            this.clear();
        }
    });
</script>
<!--Begin core plugin -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/plugins/moment/moment.js"></script>
<script src="/assets/js/jquery.slimscroll.js "></script>
<script src="/assets/js/jquery.nicescroll.js"></script>
<script src="/assets/js/functions.js"></script>
<!-- End core plugin -->

</html>