<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="/assets/images/favicon.png" type="image/png">
    <title>系统管理</title>

    <!--Begin  Page Level  CSS -->
    <link href="/assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <!--End  Page Level  CSS -->
    <link href="/assets/css/icons.css" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body class="sticky-header">


    <!--引入左侧菜单栏-->
    <div th:replace="lefter :: lefterBar(activeUrl='systemManage')"></div>

    <!-- main content start-->
    <div class="main-content">
        <div th:replace="header :: headerBar"></div>
        <!--body wrapper start-->
        <div class="wrapper">
            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title">系统管理</h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">系统管理</a>
                    </li>

                    <li class="active">
                        系统管理
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->

            <!--Start row-->
            <div class="row">

                <!-- Start inbox widget-->
                <div class="col-md-9">
                    <div class="white-box">
                        <h2 class="header-title"> 用户头像添加 </h2>
                        <form class="form-horizontal" method="POST" th:action="@{/manage/system/user/avatar/add}">
                            <div class="form-group">
                                <label class="col-md-2 control-label">URL</label>
                                <div class="col-md-10">
                                    <input class="form-control" value="" type="text" name="url" id="url"><br />
                                </div>
                            </div>

                            <div class="form-group" style="display:none" id="imgdiv">
                                <label class="col-md-2 control-label">预览</label>
                                <div class="col-md-10">
                                    <image src="" id="img" style="height:45px;width:45px" class="img-circle" alt="img"></image>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label">名称</label>
                                <div class="col-md-10">
                                    <input class="form-control" value="" type="text" name="name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <button type="submit" class="btn btn-primary round" id="addButton" onclick="return alert('提交成功')">提交</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
                <!-- Start inbox widget-->
            </div>
            <!--End row-->

        </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <div th:replace="footer :: footerBar"></div>
        <!--End footer -->

    </div>
    <!--End main content -->



    <!--Begin core plugin -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/moment/moment.js"></script>
    <script src="/assets/js/jquery.slimscroll.js "></script>
    <script src="/assets/js/jquery.nicescroll.js"></script>
    <script src="/assets/js/functions.js"></script>
    <!-- End core plugin -->
    <script>
        $(document).ready(function () {
            $("#url").keyup(function () {
                var url = $("#url").val();
                if (url == '') {
                    $("#imgdiv").css('display', 'none')
                }else {
                    $("#imgdiv").css('display', 'block')
                }

                $("#img").attr('src',url);
            });
        });
    </script>

</body>

</html>